.Admindashboard__maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
}
.Admindashboard__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  width: 300px;
  box-sizing: border-box;
}
.Admindashboard__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  color: rgb(49, 78, 25);
  height: 100px;
  text-align: center;
  margin: 1rem 0;
  box-shadow: 2px 2px 2px 2px rgb(209, 209, 209);
  border-radius: 10px 50px 30px 40px;
  box-shadow: -5px -5px 3px grey;
  transition: transform 0.3s ease;
}
.Admindashboard__btn:hover {
  transform: scale(1.05);
}
.biit {
  color: whitesmoke;
}
.AdmindashboardPage__logo {
  width: 40%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
}
.Admindashboardback__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  /* color: rgb(49, 78, 25); */
  height: 40px;
  text-align: center;

  /* box-shadow: 2px 2px 2px 2px rgb(209, 209, 209);
  border-radius: 10px 50px 30px 40px;
  box-shadow: -5px -5px 3px grey;
  transition: transform 0.3s ease; */
}
