body {
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 30px;
  height: 100%; /* Make the container take up the full height of its parent */
}
.events {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, fr); /* Set grid to 3 columns */
  gap: 15px; /* Optional: Add some spacing between grid items */
  padding: 10px;
}
.postContainer {
  border-radius: 10px;
  background-color: gainsboro;

  padding: 10px;
  width: 100%; /* Ensure the container takes full width of the grid column */
  margin-top: 20px;
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userAvatar {
  margin-right: 10px;
}

.userName {
  font-weight: bold;
}

.eventImage {
  width: 100%;
  height: auto; /* Set the height to auto for image adjustment */
  margin-bottom: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.postDescription {
  margin-bottom: 10px;
}

.postTimestamp {
  font-size: 12px;
}
