.Graphs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust as needed */
  min-height: 300px; /* Ensure enough space for graphs */
}
