.landingPage__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 325px;
  margin: 8rem auto;
}

.landingPage__heading {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 20px;
  animation: slideIn 1s ease-in-out; /* Add animation */
}

.landingPage__btns {
  display: flex;
  flex-direction: column;
  width: 60%;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%); /* Start position */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End position */
    opacity: 1;
  }
}

.btn {
  font-size: 22px;
  font-weight: bolder;
  color: rgb(241, 241, 241);
  border: 0;
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: rgb(0, 146, 0);
}

.landingPage__logo {
  width: 40%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
}
