.job-container {
  display: flex;
  gap: 20px;
}

.job-list {
  width: 30%;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
}

.job-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: "flex";
  align-items: center;
  justify-content: space-around;
}

.job-item:hover {
  background-color: #e8f0fe;
}

.job-title {
  font-weight: bold;
}

.job-company {
  color: gray;
}

.job-detail {
  width: 65%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.student-info {
  margin-top: 20px;
}

.approve-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.approve-button:hover {
  background-color: #45a049;
}
